{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint", "unused-imports"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "semi": ["error", "always"],
    "quotes": ["error", "single"],
    "prefer-const": "warn",
    "unused-imports/no-unused-imports": "warn",
    "space-before-function-paren": ["warn", "never"],
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "no-async-promise-executor": "warn",
    "no-case-declarations": "warn",
    "max-len": ["warn", {
      "code": 125
    }],
    "@typescript-eslint/ban-types": ["error", {
      "types":  {
        "Function": false
      }
    }
    ],
    "@typescript-eslint/indent": ["warn", 2, { "SwitchCase": 1 }],
    "@typescript-eslint/naming-convention": ["error", {
      "selector": ["variable", "typeLike"],
      "format": ["camelCase", "PascalCase"]
    }],
    "no-underscore-dangle": ["error"],
    "class-methods-use-this": ["off"],//
    "no-param-reassign": ["warn"],
    "default-case": ["warn"],
    "no-plusplus": ["off"],
    "import/no-cycle": ["warn"],
    "no-return-assign": ["warn"],
    "@typescript-eslint/no-unused-expressions": ["warn"],
    "prefer-destructuring": ["warn"],
    "import/prefer-default-export": ["off"], //
    "@typescript-eslint/no-useless-constructor": ["warn"],
    "no-restricted-exports": ["warn"],
    "no-restricted-globals" : "off",
    "@typescript-eslint/prefer-namespace-keyword": 0,
    "@typescript-eslint/space-before-function-paren": ["off"],
    "@typescript-eslint/explicit-function-return-type": "warn",
  }
}
